* {
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.gif {
  max-width: 450px;
  margin: 150px auto;
}

@media screen and (min-width: 960px) {
  .gif img {
    width: 500px;
    height: 400px;
  }
  .gif {
    max-width: 450px;
    margin: 50px auto;
  }
}
